/////////////
// Components
$components: (
	"form": true,
	"form-wpcf7": false,
	"form-hs": false,

	"wp-classes": false,

	// JS components (NOTE: will be removed once imported from JS files (see below))
	"dialog": false,

	"google-map": false,
	"google-map-kml": false,
	"google-map-geolocation": false,

	"slideshow": false,
	"slideshow-buttons": true,
	"slideshow-bullets": true,

	"video-embed": false
);

/////////
// Ratios
$ratios: (
	(16, 9),
	(1, 1)
);

/////////////
// Auto icons
// NOTE: You can use these if you have the icons defined in icons.json
// $auto-icons: (
// 	'href*="facebook.com"': $icon-facebook,
// 	'href*="twitter.com"': $icon-twitter,
// 	'href*="linkedin.com"': $icon-linkedin,
// 	'href*="instagram.com"': $icon-instagram,
// 	'href*="pinterest.com"': $icon-pinterest,
// 	'href*="youtube.com"': $icon-youtube,
// 	'href*="vimeo.com"': $icon-vimeo,
//
// 	'href$=".pdf"': $icon-pdf,
//
// 	'href$=".doc"': $icon-document,
// 	'href$=".docx"': $icon-document,
// 	'href$=".odt"': $icon-document,
// 	'href$=".txt"': $icon-document,
//
// 	'href$=".xls"': $icon-excel,
// 	'href$=".xlsx"': $icon-excel,
// 	'href$=".ods"': $icon-excel,
//
// 	'href$=".ppt"': $icon-powerpoint,
// 	'href$=".pptx"': $icon-powerpoint,
//
// 	'href$=".zip"': $icon-zip,
// 	'href$=".rar"': $icon-zip,
// 	'href$=".tar"': $icon-zip,
// 	'href$=".gz"': $icon-zip,
// 	'href$=".7z"': $icon-zip,
//
// 	'href$=".jpg"': $icon-image,
// 	'href$=".jpeg"': $icon-image,
// 	'href$=".png"': $icon-image,
// 	'href$=".gif"': $icon-image,
// 	'href$=".bmp"': $icon-image,
// 	'href$=".svg"': $icon-image,
// 	'href$=".webp"': $icon-image,
//
// 	'href^="mailto:"': $icon-mail,
// 	'href^="tel:"': $icon-phone,
// 	'href*="/maps"': $icon-location
// );

///////////////////////
// Custom media queries
@custom-media --tablet (min-width: 768px);
@custom-media --tablet-max (max-width: 767px);

@custom-media --laptop (min-width: 1080px);
@custom-media --laptop-max (max-width: 1079px);

@custom-media --desktop (min-width: 1260px);
@custom-media --desktop-max (max-width: 1259px);

/////////
// Config
:root {
	// Site width
	--site-width-min: 90vw;
	--site-width-max: 1280px;

	// Colors
	--body-bg: white;

	--color-primary: #ffbf00;
	--color-border: #aaa;
	--color-overlay: rgba(0, 0, 0, .6);
	--color-gray: #999;

	--color-facebook: #3b5998;
	--color-twitter: #4099FF;
	--color-linkedin: #0077b5;

	// Spacing
	--spacing-x-small: 0.25rem;
	--spacing-small: 0.75rem;
	--spacing-medium: 1.5rem;
	--spacing-large: 3rem;
	--spacing-x-large: 5rem;

	// Layout spacing
	--container-margin: 6rem;
	--grid-gap: 3rem;
	--section-padding: 6rem;

	// Layout
	--border-radius: 0.25rem;
	--shadow-small: 0 0.4rem 0.6rem 0 rgba(46, 77, 100, 0.39);
	--shadow-medium: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.2), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
	--shadow-large: 0 3.75rem 8.75rem -2.5rem rgba(0, 0, 0, 0.25), 0 3.75rem 7.5rem -1.25rem rgba(0, 0, 0, 0.25);
	--easing: ease;

	// Body text
	--body-font-size: 1rem;
	--body-font-family: Helvetica, sans-serif;
	--body-font-weight: normal;
	--body-font-style: normal;
	--body-line-height: 1.6;
	--body-letter-spacing: 0;
	--body-text-transform: none;

	--text-color: black;
	--text-decoration-color: initial;
	--text-decoration-thickness: 1px;
	--text-underline-offset: 0.25rem;

	--selection-bg: var(--color-primary);
	--selection-color: white;

	// Links
	--link-color: #ffbf00;
	--link-color-hover: #ffbf00;

	// Headings
	--h1-size: 3rem;
	--h2-size: 2.2rem;
	--h3-size: 1.6rem;
	--h4-size: 1.4rem;
	--h5-size: 1.2rem;
	--h6-size: 1rem;

	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-line-height: 1.2;
	--heading-letter-spacing: 0;
	--heading-text-transform: none;
	--heading-color: inherit;
	--heading-margin: 1.5rem;

	// Buttons
	--button-color: #ffbf00;
	--button-padding-x: 2.6rem;
	--button-padding-y: 1rem;

	--button-font-size: inherit;
	--button-font-family: inherit;
	--button-font-weight: normal;
	--button-letter-spacing: 0;
	--button-line-height: 1.2;
	--button-text-transform: none;
	--button-text-color: white;

	--button-border-width: 1px;
	--button-border-style: solid;
	--button-border-radius: var(--border-radius);
	--button-transition-duration: 0.25s;
	--button-shadow: none;

	// Dialog
/*	--dialog-background: white;
	--dialog-width: 40rem;
	--dialog-padding: var(--spacing-large);
	--dialog-shadow: var(--shadow-large);
	--dialog-close-button-size: 2rem;
	--dialog-close-button-color: var(--text-color);
	--dialog-backdrop-color: var(--color-overlay);
	--dialog-animation-duration: 0.5s; */

	// Form
/*	--form-field-bg: white;
	--form-field-focus-bg: var(--form-field-bg);
	--form-field-hover-bg: var(--form-field-bg);

	--form-field-padding-x: 1.25rem;
	--form-field-padding-y: 0.75rem;

	--form-field-font-size: var(--body-font-size);
	--form-field-font-family: var(--body-font-family);
	--form-field-font-weight: var(--body-font-weight);
	--form-field-letter-spacing: var(--body-letter-spacing);
	--form-field-line-height: var(--body-line-height);
	--form-field-text-color: var(--text-color);

	--form-field-border-width: 1px;
	--form-field-border-style: solid;
	--form-field-border-radius: var(--border-radius);
	--form-field-border-color: var(--color-border);
	--form-field-hover-border-color: var(--form-field-border-color);
	--form-field-focus-border-color: var(--color-primary);

	--select-arrow-size: 0.5rem;
	--placeholder-color: var(--color-gray, #999); */

	// Burger menu
/*	--burger-menu-size: 24px;
	--burger-menu-thickness: 2px; */

	// Slideshow
/*	--slideshow-gap: 2rem;
	--slideshow-per-page: 1; // Use this to change number of slides per page
	--slideshow-arrow-size: 2rem;
	--slideshow-bullet-margin: 3rem;
	--slideshow-bullet-spacing: 0.5rem;
	--slideshow-bullet-color: #999;
	--slideshow-bullet-size: 0.5rem;
	--slideshow-bullet-color-active: var(--color-primary, #f90); */
}
