/////////////
// Site width
// TODO: Remove support for old browsers that don't support min()
// or wrap in @if (map-get($supports, "min")) so it can be enabled when needed?
@mixin site-width ($min: false, $max: false, $var-suffix: '') {
	@if ($min) {
		--site-width-min#{$var-suffix}: #{$min};
	}
	@if ($max) {
		--site-width-max#{$var-suffix}: #{$max};
	}

	--site-width#{$var-suffix}: var(--site-width-max#{$var-suffix}, 1280px);
	--site-padding#{$var-suffix}: calc((100vw - var(--site-width#{$var-suffix}, 1280px)) / 2);

	@supports (padding: min(10%, 100px)) {
		--site-width#{$var-suffix}: min(var(--site-width-min#{$var-suffix}, 90vw), var(--site-width-max#{$var-suffix}, 1280px));
		--site-padding#{$var-suffix}: calc((100vw - var(--site-width#{$var-suffix})) / 2);
	}
}

:root {
	@include site-width;
}

///////////////////
// Custom selectors
@custom-selector :--heading h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6;
@custom-selector :--form-field input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local]; //, input[type=color]

/////////////
// Components
$components: (
	"form": true,
	"form-wpcf7": false,
	"form-hs": false,

	"wp-classes": false,

	// JS components (NOTE: will be removed once imported from JS files (see below))
	"dialog": false,

	"google-map": false,
	"google-map-kml": false,
	"google-map-geolocation": false,

	"slideshow": false,
	"slideshow-buttons": true,
	"slideshow-bullets": true,

	"video-embed": false
) !default;

// Mixins
@import "mixins/auto-icons";
@import "mixins/burger-menu";
@import "mixins/button";
@import "mixins/container";
@import "mixins/grid";
@import "mixins/icon";
@import "mixins/img";
@import "mixins/list";
@import "mixins/section";
@import "mixins/text";
@import "mixins/utils";

// Components
@import "components/base";
@import "components/container";
@import "components/form";
@import "components/grid";
@import "components/icon";
@import "components/ratio";
@import "components/section";
@import "components/video";
@import "components/wp-classes";

// JS Components
// (NOTE: will be moved to their respective JS-files once import CSS from JS works cross browser)
@import "js-components/dialog";
@import "js-components/google-map";
@import "js-components/slideshow";
@import "js-components/video-embed";
