@if (map-get($components, "dialog")) {
	html.dialog-open {
		overflow: hidden;
		touch-action: none;
	}

	// The dialog
	div.dialog {
		--dialog-visibility-delay: var(--dialog-animation-duration, 0.5s);

		// Basic styling
		background: var(--dialog-background, white);

		width: 90%;
		max-width: var(--dialog-width, 40rem);
		max-height: 90%;

		position: fixed;
		overflow: auto;
		z-index: 101;

		left: 50%;
		top: 50%;

		padding: var(--dialog-padding, 3rem);
		border-radius: var(--dialog-radius, 0);
		box-shadow: var(--dialog-shadow, none);

		// Show / hide
		pointer-events: none;
		opacity: 0;
		transform: translate(-50%, -50%) scale(var(--dialog-scale-closed, 0.9));
		visibility: hidden;

		// Transition
		transition:
			opacity var(--dialog-animation-duration, 0.5s) var(--easing),
			transform var(--dialog-animation-duration, 0.5s) var(--easing),
			visibility 0s var(--dialog-visibility-delay);
	}

	// Backdrop
	div.dialog + div.dialog-backdrop {
		--dialog-backdrop-visibility-delay: var(--dialog-animation-duration, 0.5s);

		background: var(--dialog-backdrop-color, rgba(0, 0, 0, .6));

		position: fixed;
		inset: 0;
		z-index: 100;

		// When closed
		pointer-events: none;
		opacity: 0;
		visibility: hidden;

		// Transition
		transition:
			opacity var(--dialog-animation-duration, 0.5s) var(--easing),
			visibility 0s var(--dialog-backdrop-visibility-delay);
	}

	// When open
	div.dialog.open,
	html.no-js div.dialog:target {
		--dialog-visibility-delay: 0s;

		pointer-events: all;
		visibility: visible;
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	div.dialog.open + div.dialog-backdrop,
	html.no-js div.dialog:target + div.dialog-backdrop {
		--dialog-backdrop-visibility-delay: 0s;

		pointer-events: all;
		visibility: visible;
		opacity: 1;
	}

	// Close button
	div.dialog {
		.dialog-close-button {
			position: absolute;
			right: calc(var(--dialog-padding, 3rem) / 2);
			top: calc(var(--dialog-padding, 3rem) / 2);
			z-index: 1;

			font-size: var(--dialog-close-button-size, 2rem);
			line-height: 1;
			color: var(--dialog-close-button-color, currentColor);

			@if (variable-exists("icon-close")) {
				font-size: 0;

				&::before {
					@include icon($icon-close);

					margin: 0;
					font-size: var(--dialog-close-button-size, 2rem);
				}
			}
		}
	}

	// Helper class
	div.dialog.dialog--no-transition {
		transition: none;
	}
}
