@import "~normalize.css/normalize.css";

*,
::before,
::after {
	box-sizing: border-box;
	text-decoration-color: var(--text-decoration-color, initial);
	text-decoration-thickness: var(--text-decoration-thickness, initial);
	text-underline-offset: var(--text-underline-offset, initial);
}

::selection {
	background-color: var(--selection-bg, var(--color-primary, initial));
	color: var(--selection-color, initial);
}

html {
	background: var(--body-bg, white);
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	@include text;
}

// Headings
:--heading {
	@include heading;
}

h1,
.h1 {
	font-size: var(--h1-size, 3rem);
}

h2,
.h2 {
	font-size: var(--h2-size, 2.2rem);
}

h3,
.h3 {
	font-size: var(--h3-size, 1.8rem);
}

h4,
.h4 {
	font-size: var(--h4-size, 1.4rem);
}

h5,
.h5 {
	font-size: var(--h5-size, 1.2rem);
}

h6,
.h6 {
	font-size: var(--h6-size, 1rem);
}

// Links
a {
	color: var(--link-color, blue);
	text-decoration-line: var(--link-decoration, none);
	transition: all var(--link-transition-duration, 0.25s) var(--easing);
	cursor: pointer;

	&:hover {
		color: var(--link-color-hover, darkblue);
	}
}

// Blocks
p {
	margin: 0 0 var(--spacing-medium, 1.5rem);
}

pre {
	background: #111;

	margin: 0 0 var(--spacing-medium, 1.5rem);
	padding: var(--spacing-medium, 1.5rem);

	max-height: 30rem;
	overflow: auto;

	color: white;
}

// Lists
ul,
ol {
	margin: 0 0 var(--spacing-medium, 1.5rem) var(--spacing-large, 3rem);
	padding: 0;
}

dl {
	margin: 0 0 var(--spacing-medium, 1.5rem);
}

// Images
figure {
	margin: 0 0 var(--spacing-medium, 1.5rem);

	img {
		display: block;
		width: 100%;
	}
}

img,
svg,
video {
	max-width: 100%;
	height: auto;
}

// Quotes
blockquote {
	margin: 0 0 var(--spacing-medium, 1.5rem);
}

// Separator
hr {
	margin: var(--spacing-large) 0;
	border: 1px solid var(--color-border);
	border-top: 0;
}
