html.dialog-open {
	overflow: hidden;
	touch-action: none;
}

// Basic styling
div.dialog {
	background: var(--dialog-background, white);

	width: 90%;
	max-width: var(--dialog-width, 40rem);
	max-height: 90%;

	position: fixed;
	overflow: auto;
	z-index: 101;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	padding: var(--dialog-padding, var(--spacing-large, 3rem));
	box-shadow: var(--dialog-shadow, var(--shadow-large, 0 1rem 1rem rgba(0, 0, 0, .25)));

	// When closed
	pointer-events: none;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0.9);
	transition: opacity var(--dialog-animation-duration, 0.5s) var(--transition-easing), transform var(--dialog-animation-duration, 0.5s) var(--transition-easing);

	// Close button
	.dialog__close {
		position: absolute;
		right: var(--spacing-medium, 1rem);
		top: var(--spacing-medium, 1rem);
		font-size: var(--dialog-close-button-size, 2rem);
		line-height: 1;
		color: var(--dialog-close-button-color, var(--text-color, black));
	}
}

// Backdrop
div.dialog + div.backdrop {
	background: var(--dialog-backdrop-color, var(--color-overlay, rgba(0, 0, 0, .6)));

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	// When closed
	pointer-events: none;
	opacity: 0;
	transition: opacity var(--dialog-animation-duration, 0.5s) var(--transition-easing);
}

// When open
div.dialog.open,
html.no-js div.dialog:target {
	pointer-events: all;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

div.dialog.open + div.backdrop,
html.no-js div.dialog:target + div.backdrop {
	pointer-events: all;
	opacity: 1;
}

// Helper class
div.dialog.dialog--no-transition {
	transition: none;
}
