.google-map {
	background: var(--google-map-background, #def);
	height: var(--google-map-height, 20rem);
	overflow: hidden;

	@media (--tablet) {
		height: var(--google-map-height-tablet, 30rem);
	}
}
