[class^=icon-],
[class*=" icon-"] {
	&::before {
		margin-right: var(--icon-margin, var(--spacing-x-small, 0.25rem));
		margin-left: 0;
	}

	&:empty::before {
		margin-right: 0;
	}

	&:blank::before {
		margin-right: 0;
	}
}

.icon--after {
	&::after {
		margin-right: 0;
		margin-left: var(--icon-margin, var(--spacing-x-small, 0.25rem));
	}

	&:empty::after {
		margin-left: 0;
	}

	&:blank::after {
		margin-left: 0;
	}
}
