[class^=icon-],
[class*=" icon-"] {
	&::before {
		margin-right: var(--icon-margin, 0.25rem);
		margin-left: 0;
		line-height: inherit;
	}

	&:empty::before {
		margin-right: 0;
	}

	&:blank::before {
		margin-right: 0;
	}
}

.icon--after {
	&::after {
		margin-right: 0;
		margin-left: var(--icon-margin, 0.25rem);
		line-height: inherit;
	}

	&:empty::after {
		margin-left: 0;
	}

	&:blank::after {
		margin-left: 0;
	}
}
