@use "sass:math";

$ratios: () !default;

@if (length($ratios)) {
	[class*="ratio--"] {
		@include img-ratio(16, 9);

		display: block;
	}

	@each $ratio in $ratios {
		.ratio--#{nth($ratio, 1)}-#{nth($ratio, 2)}::before {
			padding-bottom: #{percentage(math.div(nth($ratio, 2), nth($ratio, 1)))};
		}
	}
}
