// Set the slideshow-gap which is used by the JS
[data-slideshow] {
	--slideshow-gap: var(--grid-gap, 3rem);
}

// Allow positioning stuff outside slideshow
.glide {
	position: static;
}

// Allow showing stuff outside slides
.glide__slides {
	overflow: visible;
}

// Slideshow with slides visible outside
.slideshow--bleed {
	.glide__track {
		overflow: visible;
	}
}

// Prev / next buttons
.slideshow-nav {

}

// Bullet navigation
.slideshow-bullets {
	margin-top: var(--slideshow-bullets-margin-top, var(--spacing-medium, 1rem));
	text-align: center;

	a {
		background: currentColor;

		display: inline-block;
		vertical-align: middle;
		position: relative;

		width: var(--slideshow-bullets-size, 12px);
		height: var(--slideshow-bullets-size, 12px);
		margin: 0 var(--slideshow-bullets-margin, var(--spacing-x-small, 0.25rem));

		font-size: 0;
		border-radius: 50%;

		opacity: 0.5;
		transition: all 0.5s ease;
	}

	.glide__bullet--active {
		opacity: 1;
	}
}
