// Set the slideshow-gap which is used by the JS
[data-slideshow] {
	--slideshow-gap: var(--grid-gap, 3rem);
}

// Allow positioning stuff outside slideshow
.glide {
	position: static;
}

// Allow showing stuff outside slides
.glide__slides {
	overflow: visible;
}

// Slideshow with slides visible outside
.slideshow--bleed {
	.glide__track {
		overflow: visible;
	}
}

// Prev / next buttons
.slideshow-nav {

}

// Bullet navigation
.slideshow-bullets {
	margin-top: var(--slideshow-bullets-margin-top, var(--spacing-medium, 1rem));
	text-align: center;

	a {
		background: transparent;

		display: inline-block;
		vertical-align: middle;
		position: relative;

		width: var(--slideshow-bullets-size, 0.5rem);
		height: var(--slideshow-bullets-size, 0.5rem);
		margin: 0 var(--slideshow-bullets-margin, var(--spacing-x-small, 0.25rem));

		font-size: 0;
		border-radius: 50%;

		transition: background 0.5s ease;

		&::before,
		&::after {
			display: block;
			content: "";

			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale(1);

			width: 100%;
			height: 100%;

			border: 1px solid currentColor;
			border-radius: 50%;
		}

		&::after {
			width: 200%;
			height: 200%;
			transform: translate(-50%, -50%) scale(0.5);
			transition: transform 0.5s ease;
		}
	}

	.glide__bullet--active {
		background: currentColor;

		&::after {
			transform: translate(-50%, -50%) scale(1);
		}
	}
}
