@use "sass:math";

$icon-play: "?" !default;
$icon-spinner: "!" !default;

// Responsive video
.video {
	position: relative;
	padding-bottom: #{percentage(math.div(9, 16))}; // 16:9
	margin: 0 0 var(--spacing-medium, 1.5rem);
	height: 0;

	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
