$auto-icons: () !default;

@mixin auto-icons ($default-icon: '') {
	a {
		&::before {
			@include icon($default-icon);

			display: none;
			margin-right: var(--icon-margin, 0.25rem);
		}

		@each $auto-icon-name, $auto-icon in $auto-icons {
			&[#{$auto-icon-name}]::before {
				display: inline-block;
				content: "#{$auto-icon}";
			}
		}
	}
}
