// Reversed E
@mixin burger-menu ($color: currentColor, $size: 24px, $thickness: 4px, $middle-width: 100%) {
	$middle-position: 100% - $middle-width;

	background-image: linear-gradient(to right, transparent, transparent $middle-position, $color $middle-position);
	background-size: 100% $thickness;
	background-position: left 50%;
	background-repeat: no-repeat;
	transition: background-position 0.25s 0.25s ease;

	display: block;
	position: relative;
	overflow: hidden;

	width: $size;
	height: $size;

	&::before,
	&::after {
		background: $color;

		display: block;
		content: "";

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: $thickness;

		transition: top 0.25s 0.25s ease, transform 0.25s ease;
	}

	&::after {
		top: auto;
		bottom: 0;
		transition: bottom 0.25s 0.25s ease, transform 0.25s ease;
	}
}

@mixin burger-menu-open ($color: false, $size: 24px, $thickness: 4px) {
	background-position: $size 50%;
	transition: background-position 0.25s ease;

	@if ($color) {
		&:before,
		&:after {
			background: $color;
		}
	}

	&::before {
		top: calc(50% - #{$thickness / 2});
		transform: rotate(45deg);
		transition: top 0.25s ease, transform 0.25s 0.25s ease;
	}

	&::after {
		bottom: calc(50% - #{$thickness / 2});
		transform: rotate(-45deg);
		transition: bottom 0.25s ease, transform 0.25s 0.25s ease;
	}
}

// Two lines
@mixin burger-menu-two-lines ($color: currentColor, $size: 24px, $thickness: 2px) {
	position: relative;
	display: inline-block;
	width: $size;
	height: $size;

	&::before,
	&::after {
		background: $color;

		display: block;
		content: "";

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -#{$size / 6}) rotate(0deg);
		transition: transform 0.5s ease, background-color 0.5s ease;

		width: 100%;
		height: $thickness;
	}

	&::after {
		transform: translate(-50%, #{$size / 6}) rotate(0deg);
	}
}

@mixin burger-menu-two-lines-open ($color: false) {
	@if ($color) {
		&::before,
		&::after {
			background: $color;
		}
	}

	&::before {
		transform: translate(-50%, 0) rotate(225deg);
	}

	&::after {
		transform: translate(-50%, 0) rotate(-225deg);
	}
}
