// Reversed E
@mixin burger-menu ($color: currentColor) {
	background-image: linear-gradient(to right, transparent, transparent calc(100% - var(--burger-menu-middle-width, 100%)), $color calc(100% - var(--burger-menu-middle-width, 100%)));
	background-size: 100% var(--burger-menu-thickness, 2px);
	background-position: left 50%;
	background-repeat: no-repeat;
	transition: background-color var(--burger-menu-transition-duration, 0.25s) var(--burger-menu-transition-duration, 0.25s) var(--easing);

	display: block;
	position: relative;
	overflow: hidden;

	width: var(--burger-menu-width, var(--burger-menu-size, 24px));
	height: var(--burger-menu-height, var(--burger-menu-size, 24px));

	&::before,
	&::after {
		background: $color;

		display: block;
		content: "";

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: var(--burger-menu-thickness, 2px);

		transition: top var(--burger-menu-transition-duration, 0.25s) var(--burger-menu-transition-duration, 0.25s) var(--easing),
					transform var(--burger-menu-transition-duration, 0.25s) var(--easing),
					background-color var(--burger-menu-transition-duration, 0.25s) var(--easing);
	}

	&::after {
		top: auto;
		bottom: 0;
		transition: bottom var(--burger-menu-transition-duration, 0.25s) var(--burger-menu-transition-duration, 0.25s) var(--easing),
					transform var(--burger-menu-transition-duration, 0.25s) var(--easing),
					background-color var(--burger-menu-transition-duration, 0.25s) var(--easing);
	}
}

@mixin burger-menu-open ($color: false) {
	background-position: calc(var(--burger-menu-size, 24px) * 1.5) 50%; // NOTE: * 1.5 because of rounding errors sometimes which cause the middle line to show 1px
	transition: background-color var(--burger-menu-transition-duration, 0.25s) var(--easing);

	@if ($color) {
		background-image: linear-gradient(to right, transparent, transparent calc(100% - var(--burger-menu-middle-width, 100%)), $color calc(100% - var(--burger-menu-middle-width, 100%)));

		&:before,
		&:after {
			background: $color;
		}
	}

	&::before {
		top: calc(50% - (var(--burger-menu-thickness, 2px) / 2));
		transform: rotate(45deg);
		transition: top var(--burger-menu-transition-duration, 0.25s) var(--easing),
					transform var(--burger-menu-transition-duration, 0.25s) var(--burger-menu-transition-duration, 0.25s) var(--easing),
					background-color var(--burger-menu-transition-duration, 0.25s) var(--easing);
	}

	&::after {
		bottom: calc(50% - (var(--burger-menu-thickness, 2px) / 2));
		transform: rotate(-45deg);
		transition: bottom var(--burger-menu-transition-duration, 0.25s) var(--easing),
					transform var(--burger-menu-transition-duration, 0.25s) var(--burger-menu-transition-duration, 0.25s) var(--easing),
					background-color var(--burger-menu-transition-duration, 0.25s) var(--easing);
	}
}

// Two lines
@mixin burger-menu-two-lines ($color: currentColor) {
	position: relative;
	display: inline-block;
	width: var(--burger-menu-size, 24px);
	height: var(--burger-menu-size, 24px);

	&::before,
	&::after {
		background: $color;

		display: block;
		content: "";

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, calc((var(--burger-menu-size, 24px) / 6) * -1)) rotate(0deg);
		transition: transform var(--burger-menu-transition-duration, 0.25s) var(--easing), background-color var(--burger-menu-transition-duration, 0.25s) var(--easing);

		width: 100%;
		height: var(--burger-menu-thickness, 2px);
	}

	&::after {
		transform: translate(-50%, calc(var(--burger-menu-size, 24px) / 6)) rotate(0deg);
	}
}

@mixin burger-menu-two-lines-open ($color: false) {
	@if ($color) {
		&::before,
		&::after {
			background: $color;
		}
	}

	&::before {
		transform: translate(-50%, 0) rotate(225deg);
	}

	&::after {
		transform: translate(-50%, 0) rotate(-225deg);
	}
}
