@mixin container ($max: false, $min: false) {
	@include site-width($min, $max); // TODO: Only include if $min or $max?

	width: var(--site-width);
	margin: var(--container-margin-top, var(--container-margin)) auto var(--container-margin-bottom, var(--container-margin)); // TODO: Use --site-padding instead of auto and remove width?
}
