// Copied directly from fontello but cleaned up a bit
@mixin icon ($icon-code: "[NOICO]") {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: never;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Added this
	content: $icon-code;
	margin-right: var(--icon-margin, 0.25rem);
	margin-left: 0;
	line-height: inherit;
}
