@mixin img-background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -2;

	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center center;
}

@mixin ratio ($width: 16, $height: 9) {
	$padding-bottom: percentage($height / $width);

	pointer-events: none;
	display: block;
	content: "";
	padding-bottom: $padding-bottom;
}

@mixin img-ratio ($width: 16, $height: 9, $bg: true) {
	position: relative;

	&::before {
		@include ratio($width, $height);
	}

	@if ($bg) {
		> img,
		> video,
		> :not(figcaption) img,
		> :not(figcaption) video {
			@include img-background;

			z-index: auto;
		}
	}
}
