@mixin heading ($size: var(--h1-size, 3rem), $color: var(--heading-color, inherit), $margin: var(--heading-margin, var(--spacing-medium, 1.5rem))) {
	display: block;

	font-family: var(--heading-font-family, inherit);
	font-weight: var(--heading-font-weight, bold);
	font-style: var(--heading-font-style, normal);

	line-height: var(--heading-line-height, 1.2);
	letter-spacing: var(--heading-letter-spacing, 0);
	text-transform: var(--heading-text-transform, none);

	@if ($margin) {
		margin: 0 0 #{$margin};
	}

	@if ($size) {
		font-size: $size;
	}

	@if ($color) {
		color: $color;

		a {
			color: $color;

			&:hover {
				color: $color;
			}
		}
	}
}

@mixin text ($size: var(--body-font-size, 1rem), $color: var(--text-color, black)) {
	font-family: var(--body-font-family, sans-serif);
	font-weight: var(--body-font-weight, normal);
	font-style: var(--body-font-style, normal);

	line-height: var(--body-line-height, 1.6);
	letter-spacing: var(--body-letter-spacing, 0);
	text-transform: var(--body-text-transform, none);

	@if ($size) {
		font-size: $size;
	}

	@if ($color) {
		color: $color;
	}
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin hyphens {
	word-wrap: break-word;
	hyphens: auto;
}
